<?xml version="1.0"?>
<config>
    <modules>
        <Ecommistry_Trailingslash>
            <version>0.0.0.1</version>
        </Ecommistry_Trailingslash>
    </modules>
    <global>
        <helpers>
            <ecommistry_trailingslash>
                <class>Ecommistry_Trailingslash_Helper</class>
            </ecommistry_trailingslash>
        </helpers>
        <models>
            <ecommistry_trailingslash>
                <class>Ecommistry_Trailingslash_Model</class>
            </ecommistry_trailingslash>
            <core>
                <rewrite>
                    <url>Ecommistry_Trailingslash_Model_Core_Url</url>
                </rewrite>
            </core>
        </models>
        <events>
            <controller_front_init_routers>
                <observers>
                    <ecommistry_trailingslash_controller_front_init_routers>
                        <class>ecommistry_trailingslash/observer</class>
                        <method>removeTrailingSlash</method>
                    </ecommistry_trailingslash_controller_front_init_routers>
                </observers>
            </controller_front_init_routers>
        </events>
    </global>
    <default>
        <trailingslash>
            <settings>
                <active>0</active>
                <port>0</port>
            </settings>
        </trailingslash>
    </default>
</config>